.thanks {
  text-align: center;
  padding: 50px 10px;
  background-color: #ffffff;
}

.thanks-title {
  color: #001133;
  font-weight: bold;
}

.thanks p {
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #333333;
}