
.hero {
  color: #ffffff;
  padding: 7rem 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.hero-title {
  font-weight: bolder;
  margin-bottom: 1rem;
}

.btn.btn-primary.cta-btn {
  width: 230px;
  font-weight: bolder;
  font-size: 1.2rem;
  color: #ffffff;
}

.btn.btn-primary.cta-btn a {
  font-weight: bolder;
  font-size: 1.2rem;
}

.hero-title {
  font-size: 4.5rem;
}

.hero-text {  
  min-width: 350px;
  flex: 1 1 auto; 
  max-width: 700px;
}

.hero-subtitle {
  margin-bottom: 0.8rem;
  font-size: 2.5rem;
}

.hero-description {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.hero-img-container {
  display: flex;
  flex: 1;
  max-width: 500px;
  min-width: 312px;
}


@media (max-width: 576px) {
  .hero-text,
  .hero-img-container {
    min-width: 100%;
  }

  .hero {
    gap: 50px;
    padding: 6rem 2.5rem;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-subtitle {
    font-size: 2.1rem;
  }
  
  .hero-description {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}