.projects-container {
  padding: 4rem;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-projects-container {
  text-align: center;
}

.project-title {
  font-weight: bolder;
}

.project-text {
  margin-bottom: 3rem;
  font-size: 1.5rem;
}

.cards-container.project {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.img-top-container {
  padding: 10px;
}

.card.project {
  max-width: 30rem;
  color: #001133;
  border: 1px solid #0d6efd;
}

.card-body.top {
  border-top: 1px solid #0d6efd;
}

.tags-container {
  padding: 1rem;
  display: flex;
  border-top: 1px solid #0d6efd;
  border-bottom: 1px solid #0d6efd;
  gap: 5px;
}

.tags-list-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tags-list-container li {
  list-style: none;
  padding: 5px 8px;
  border-radius: 7px;
  background-color: #0d6efd;
  color: #ffffff;
  font-weight: bold;
}

.card-title.project{
  font-weight: bold;
  font-size: 1.5rem;
}

.card-text.project {
  font-size: 1.2rem;
}

.card-body.project {
  display: flex;
  align-items: center;
}